<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="owl-icon"
    viewBox="0 0 95 100"
    :class="cls"
  >
    <g id="owl">
      <path
        d="M 20 5 C 20 5 20 5 20 5 C 15 5.5 13 30 12 40 C 4 50 4 70 7 83 C 10 80 15 75 17 70 C 20 75 25 80 32 84 C 30 88 28 95 30 95 C 30 95 32 90 35 90 C 35 90 35 96 37 96 C 40 95 40 90 40 90 C 42 90 45 95 45 95 C 47 95 47 90 45 88 C 45 88 45 88 45 88 C 49 88 50 88 50 87 C 50 90 50 95 50 95 C 51 95 53 90 55 90 C 56 90 57 96 58 96 C 60 96 60 90 62 90 C 63 90 65 95 67 95 C 68 95 67 87 64 83 C 70 80 75 76 80 70 C 82 75 85 80 89 82 C 93 72 92 48 85 40 C 85 30 82 5.5 78 5 C 75 4.5 70 10 65 15 C 60 12 55 10 50 10 C 42 10 35 12 32 15 C 30 10 20 5 20 5 z "
        style="fill: currentColor; fill-opacity: 1"
        id="body"
      />
      <g id="eyes" transform="translate(30,30)">
        <g id="left-eye">
          <circle
            style="
              fill: #ffffff;
              fill-opacity: 1;
              fill-rule: nonzero;
              opacity: 1;
            "
            cx="0"
            cy="0"
            r="8"
            id="white"
          />
          <circle
            style="fill: currentColor; fill-opacity: 1"
            cx="0"
            cy="0"
            r="4.5"
            id="pupil"
          />
        </g>
        <g id="right-eye" transform="translate(35,0)">
          <circle
            style="
              fill: #ffffff;
              fill-opacity: 1;
              fill-rule: nonzero;
              opacity: 1;
            "
            cx="0"
            cy="0"
            r="8"
            id="white"
          />
          <circle
            style="fill: currentColor; fill-opacity: 1"
            cx="0"
            cy="0"
            r="4.5"
            id="pupil"
          />
        </g>
      </g>
      <g id="beakman" transform="translate(40,45)">
        <polygon
          points="0,0 15,0 7.5,10 "
          id="beak"
          style="fill: #ffffffff; fill-opacity: 1"
        />
      </g>
    </g>
  </svg>
</template>
