<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="fishing-pole"
    viewBox="0 0 66 66"
    :class="cls"
  >
    <path
      d="m 50.524671,4.0822382 c -4.436004,-4.05e-5 -8.032107,3.5960629 -8.032067,8.0320678 -3.7e-5,3.852742 2.713416,7.070258 6.332945,7.850167 l -0.01551,23.199618 c 0,19.894989 -34.507033,20.042094 -34.706924,0.03876 h 9.585464 C 22.31027,41.824534 10.542405,29.678913 8.5690931,27.705603 v 15.497244 c 0,14.381443 13.0896849,19.78175 22.4342889,20.006532 12.325342,0 22.316985,-7.719946 22.316985,-20.045288 0,0 -0.04191,-18.70296 -0.04703,-23.500375 3.082491,-1.122423 5.28343,-4.078782 5.283399,-7.54941 3.9e-5,-4.4360059 -3.596061,-8.0321098 -8.032068,-8.0320678 z m -0.142626,2.8349691 c 3.400631,0 5.033666,2.8072199 5.103564,5.1025307 1.21e-4,2.713727 -2.105618,5.291503 -4.819343,5.291667 -2.713929,1.22e-4 -5.338816,-2.389119 -5.338694,-5.103048 0,-3.1904729 2.785541,-5.2004984 5.054473,-5.2911497 z"
      style="
        fill: currentColor;
        fill-opacity: 1;
        fill-rule: nonzero;
        stroke: none;
        stroke-width: 0.79375;
        stroke-miterlimit: 4;
        stroke-dasharray: none;
      "
      id="hook"
    />
  </svg>
</template>
