<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="shark-fin"
    viewBox="0 0 250 250"
    :class="cls"
  >
    <path
      d="m 46.785156,52.857422 c 21.12093,47.374988 65.316374,88.500068 0,159.285158 -12.461083,-0.72119 -18.883866,-9.45124 -23.570312,-15.71485 -2.827741,-3.27248 -6.245975,2.03204 -5.714844,6.60743 0,3.56143 2.989228,7.52993 5.714844,9.82226 21.265266,17.8848 38.433661,10.77867 55,0 15.402485,11.67296 32.005536,16.26093 52.142576,0 14.09419,10.59788 30.50602,15.40162 55,0 27.3625,13.36369 38.73045,7.17917 49.28516,0 3.51334,-2.33145 7.27989,-4.47285 6.42969,-10 0,-3.56142 -3.97244,-9.00761 -6.42969,-6.42969 -10.79394,11.32403 -21.77674,11.83531 -32.83399,8.15039 C 173.63183,154.57962 138.43808,94.129632 46.785156,52.857422 Z"
      style="
        opacity: 1;
        fill: currentColor;
        stroke-width: 3.77998;
        stroke-linecap: round;
      "
    />
  </svg>
</template>
