<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="island-svg"
    viewBox="0 0 512 505"
    :class="cls"
  >
    <path
      style="fill: currentColor; fill-opacity: 1"
      d="m 218.3,0 h 4.13 c 27.71,0.82 53.79,14.5 72.65,34.39 -18.73,-5.64 -38.93,-6.15 -57.99,-1.85 -17.28,3.95 -33.97,13.16 -44.07,28.09 17.84,-4.53 37.29,-1.94 53.43,6.87 17.74,9.44 31.06,25.85 38.77,44.22 10.32,24.59 11.79,52.02 8.84,78.26 -11.87,-25.54 -28.96,-50.06 -53.99,-64.11 -20.53,-11.76 -45.6,-14.39 -68.4,-8.51 68.82379,84.28472 101.63723,207.42695 103.38588,310.98294 11.72186,0 11.89858,0.69568 23.48177,0.93118 -5.81642,-90.9637 31.3715,-188.68015 91.32235,-250.72412 -10.99,-4.15 -23.18,-1.5 -33.75,2.68 -21.57,8.76 -38,27.21 -47.74,48 -1.87,-19.64 -0.37,-40.32 8.77,-58.14 6.94,-13.78 19.09,-25.25 34.01,-29.78 9.07,-2.93 18.91,-2.97 28.14,-0.74 -7.26,-10.95 -19.57,-17.54 -32.19,-20.19 -12.53,-2.6 -25.69,-2.28 -38,1.22 11.35,-11.36 25.52,-20.3 41.33,-23.81 18.69,-4.44 39.17,-1.06 55.26,9.51 15.19,9.69 26.01,25.81 29.31,43.53 27.75,-5.5 57.02,11.28 68.32,36.79 5.78,12.26 7.67,26.02 7.16,39.47 -9.21,-21.04 -28.12,-37.45 -50.21,-43.68 15.32,12.07 26.27,29.98 28.56,49.49 2.84,22.9 -6.79,45.58 -21.19,62.97 4.47,-17.6 4.35,-36.6 -2.01,-53.73 -4.27,-11.62 -11.03,-22.22 -19.25,-31.44 5.31,16.2 4.17,34.6 -4.14,49.6 -6.6,12.23 -17.24,21.89 -29.21,28.75 -9.94,5.73 -20.85,9.57 -31.94,12.35 12.91,-10.59 22.3,-25.33 26.53,-41.48 5.61,-21.27 3.77,-43.96 -2.47,-64.87 -49.86294,76.14665 -77.44525,150.79245 -63.46791,235.24 22.12,2.18 35.80791,5.26 57.40791,10.59 10.83,2.86 21.72,6.03 31.56,11.5 4.28,2.59 8.9,5.58 10.8,10.44 1.52,3.76 -0.3,7.92 -2.99,10.64 -5.01,5.07 -11.65,8.06 -18.16,10.71 -15.14,5.88 -31.13,9.25 -47.09,12.04 -35.22,5.99 -70.96,8.06 -106.63,8.79 h -21.15 c -26.04,-0.56 -52.09,-1.74 -77.96,-4.75 -20.22,-2.34 -40.41,-5.49 -60.06,-10.87 -10.21,-2.98 -20.59,-6.23 -29.5,-12.2 -4.01,-2.85 -8.46,-6.93 -7.88,-12.34 0.87,-5.43 5.68,-9 10.03,-11.73 11.96,-7.07 25.61,-10.48 38.99,-13.77 30.51,-6.79 61.73,-9.79 92.89,-11.54 9.79636,-0.0929 13.3211,-0.29939 20.74757,-0.29939 C 245.36082,344.31563 209.86149,190.56673 149.47,133.35 c -8.1,26.32 -9.84,54.61 -5.09,81.73 5.05,29.99 19.75,58.84 43.3,78.47 -17.53,-4.71 -34.75,-11.18 -50.09,-21.01 -19.2,-12.04 -35.39,-29.78 -42.97,-51.37 -6.97,-19.33 -6.64,-40.97 0.04,-60.33 -14.7,16.13 -26.49,35.31 -32.1,56.53 -6.09,21.62 -5.33,44.69 -0.29,66.44 -6.01,-7.57 -11.4,-15.64 -15.96,-24.16 -11.13,-20.55 -16.86,-44.49 -13.53,-67.83 3.69,-28.05 19.85,-53.63 42.16,-70.71 -32.07,8.61 -59.75,32.02 -73.44,62.3 -0.55,-17.3 2,-34.88 8.95,-50.81 9.6,-22.54 28.56,-40.76 51.26,-49.85 20.05,-8.25 42.62,-9.96 63.75,-5.24 1.87,-18.03 10.65,-34.93 23.31,-47.76 C 166.86,11.25 192.44,0.38 218.3,0 Z"
    />
  </svg>
</template>
