<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="cls"
    viewBox="0 0 146.39 158.75"
  >
    <path
      transform="translate(-29,-37.5)"
      :d="`m 141.5,37.0
      c -3.5,15.0 -24.5,31.0 -35.5,29.5 -1,0.5 -28.0,4.0 -29.0,4.0 -31.0,4.5 -48.0,58.0 -48.0,91 0.0,40.0 30.0,32.0 70.0,32.0 46.0,4.5 88.0,8.0 63.0,-49.5 0.0,-36.0 -4.0,-53.0 -31.5,-67.5 -1.5,-1.0 24.0,5.5 44.5,-7.5 3.0,-2.0 -12.5,-5.0 -8.0,-13.0 -9.0,3.5 -14.0,-9.0 -14.0,-9.0 -5.5,3.0 -12.0,-10.0 -12.0,-10.0
      z
      m -46.0,50.0 13.0,26.0 29.0,4.0 -20.5,20.5 5.0,28.5 -26.0,-13.0 -25.5,14 4.5,-29.0 -21.0,-20.0 29.0,-4.5
      z`"
      style="fill: currentColor; stroke-width: 1; stroke-linecap: round"
    />
  </svg>
</template>
