<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1820 1820"
    id="bugs"
    :class="cls"
  >
    <path
      transform="translate(0,450)"
      d="m 1000,130 c -22,40 -55,96 -76,135 -6,-3 -15,-3 -20,0 -22,-38 -52,-90 -75,-132 -3,-4 -12,2.5 -10,6 25,44 55.5,94 75.5,128 -22,22 -27,70 -26,80 C 690,240 240,-150 37,140 -8,250 16,494 416,585 c -155,236 348,583 470,-33.5 0,102 -45,385 30,386 77,0 28.5,-286 28.5,-386 122,616 625,270 470,33.5 400,-92 425,-333 378,-445 -205,-285 -654,100 -830,209 0,-25 -12,-66 -26,-80 18,-32 50,-90 75,-133 1,-2 -8,-5 -10,-4 z"
      style="
        opacity: 1;
        fill: currentColor;
        fill-opacity: 1;
        fill-rule: nonzero;
        stroke: none;
        stroke-opacity: 1;
      "
    />
  </svg>
</template>
