<script setup lang="ts">
withDefaults(defineProps<{ cls?: string }>(), { cls: "" });
</script>
<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" :class="cls">
    <g id="layer1">
      <g id="net-frame">
        <path
          id="path2935"
          style="fill: currentColor; stroke-width: 0.79375"
          d="M 74.129283,10.55718 A 11.759859,23.519718 39.400708 0 0 50.112932,21.267152 11.759859,23.519718 39.400708 0 0 44.271424,46.905817 11.759859,23.519718 39.400708 0 0 68.28705,36.195918 11.759859,23.519718 39.400708 0 0 74.129283,10.55718 Z m -2.272104,2.976083 A 8.6862591,19.64431 39.400708 0 1 66.10029,34.22644 8.6862591,19.64431 39.400708 0 1 46.919157,43.892543 8.6862591,19.64431 39.400708 0 1 52.676048,23.199365 8.6862591,19.64431 39.400708 0 1 71.857179,13.533263 Z"
        />
        <rect
          style="fill: currentColor; stroke-width: 0.98519"
          id="rect2957"
          width="1.9903809"
          height="40.80286"
          x="62.50481"
          y="1.5211899"
          ry="0"
          transform="rotate(45)"
        />
        <rect
          style="fill: currentColor; stroke-width: 0.8407"
          id="rect2959"
          width="4.7437272"
          height="14.516366"
          x="61.077118"
          y="30.226383"
          ry="1.7476913"
          transform="rotate(45)"
          rx="1.3194908"
        />
      </g>
      <g style="opacity: 0.8" id="inner-net">
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.32292;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 73.766388,19.91158 C 68.715657,17.967351 66.913006,16.159095 58.665661,15.501633"
          id="path3029"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.32292;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 70.291885,30.86963 C 64.174375,29.339366 51.980287,25.812186 48.705818,24.889882"
          id="path3031"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.32292;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 63.877417,38.085908 C 55.529214,36.191833 49.533952,35.858661 44.500376,34.210499"
          id="path3033"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.32292;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="m 56.126599,44.767645 c 0,0 0,0 -11.375166,-2.27179"
          id="path3035"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.32292;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="m 64.604012,11.532545 c 2.461556,14.625732 -7.323859,26.77268 -19.852579,30.96331"
          id="path3037"
        />
      </g>
      <g
        style="
          opacity: 0.7;
          stroke-width: 1.000125;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
        "
        id="outer-net"
      >
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: round;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 74.129283,11.615513 C 64.806708,1.159074 8.437054,7.9158566 4.2620359,13.453465 -3.4664874,23.704328 43.121932,45.273219 43.121932,45.273219"
          id="path2961"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 3.6081385,14.699824 C 23.4499,11.019327 43.263919,7.6994954 62.407434,13.096207"
          id="path2963"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 51.983922,20.579753 C 36.883785,15.544406 19.980885,17.074896 3.537268,16.069988"
          id="path2965"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 46.504896,28.063301 C 35.462538,24.56723 18.827853,24.528334 3.8754076,17.907058"
          id="path3001"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 43.832203,38.754081 C 21.214556,29.712704 15.711725,28.276524 5.1955431,20.579754"
          id="path3003"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 60.002009,6.5481032 C 27.878943,18.010313 36.215021,41.560411 36.215021,41.560411"
          id="path3005"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 24.338891,7.7413191 C 18.728929,14.730922 19.342747,23.83314 20.521618,33.337126"
          id="path3007"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 26.593317,36.615926 C 26.067921,26.158784 28.522609,16.210942 37.551368,6.8153728"
          id="path3009"
        />
        <path
          style="
            fill: none;
            stroke: currentColor;
            stroke-width: 1.000125;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          d="M 13.497111,9.7553377 C 10.831667,15.418564 10.26006,21.212654 11.626224,27.127856"
          id="path3011"
        />
      </g>
    </g>
  </svg>
</template>
