<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useApiStore, useDataStore, useOptionsStore } from "@/store";
import { NumberUtil } from "@/util/NumberUtil";
import type { NHArt } from "@/models/NH";
import { MuseumObjectType } from "@/clients/data-client";

const offset = ref(0);
const sort = ref("ID");
const dir = ref("ASC");
const total = ref(0);
const limit = ref(18);

const caught = ref(1);
const donated = ref(1);
const catchable = ref(1);
const seasonal = ref(1);

const loading = ref(true);
const list = ref<NHArt[]>([]);

const data = useDataStore();
const options = useOptionsStore();

async function search() {
  const api = useApiStore();
  loading.value = true;
  data.client.saveFilterState(
    MuseumObjectType.ART,
    caught.value,
    donated.value,
    catchable.value,
    seasonal.value
  );
  try {
    const pagedCritters = await api.client.getArt({
      caught: NumberUtil.triBool(caught.value),
      donated: NumberUtil.triBool(donated.value),
      catchable: NumberUtil.triBool(catchable.value),
      seasonal: NumberUtil.triBool(seasonal.value),
      sort: sort.value,
      dir: dir.value,
      limit: limit.value,
      offset: offset.value,
    });

    list.value = pagedCritters.items;
    total.value = pagedCritters.total;
    loading.value = false;
  } catch (e) {
    console.error(e);
    loading.value = false;
  }
}

function pageTo(o: number) {
  offset.value = o;
  search();
}

function filter(cat: string, v: number | string) {
  switch (cat) {
    case "catchable":
      catchable.value = v as number;
      break;
    case "donated":
      donated.value = v as number;
      break;
    case "caught":
      caught.value = v as number;
      break;
    case "seasonal":
      seasonal.value = v as number;
      break;
    case "dir":
      dir.value = v as string;
      break;
    case "sort":
      sort.value = v as string;
      break;
  }
  search();
}

const state = data.client.loadFilterState(MuseumObjectType.ART);
caught.value = state.caught ?? 1;
donated.value = state.donated ?? 1;
catchable.value = state.catchable ?? 1;
seasonal.value = state.seasonal ?? 1;

onMounted(() => {
  search();
});
</script>
<template>
  <div class="art-list" ref="outer">
    <p class="text-left">
      Select an art piece to mark it donated.
      <br />Use the filters to help you find what you're looking for.
    </p>

    <MuseumObjectFilters
      :mobile-only="true"
      :dir="dir"
      :donated="donated"
      :filter="filter"
      :search="search"
      :sort="sort"
    />

    <div class="critter-container">
      <div v-if="loading" class="loader-overlay">
        <fa-icon icon="spinner" pulse size="6x" />
      </div>
      <div class="grid">
        <div class="grid-item" v-for="c in list" :key="c.id">
          <MuseumObject
            :object-type="MuseumObjectType.ART"
            :museumObject="c"
            :caught="data.client.isCaught(MuseumObjectType.ART, c.id)"
            :donated="data.client.isDonated(MuseumObjectType.ART, c.id)"
            :hemisphere="options.client.getHemisphere()"
          >
            <template #museum-icon>
              <fa-icon icon="palette" class="fa-4x" />
            </template>
            <ArtProps :critter="c" />
          </MuseumObject>
        </div>
      </div>

      <MuseumPaginator
        :offset="offset"
        :limit="limit"
        :total="total"
        @page="pageTo($event.offset)"
      />
    </div>
  </div>
</template>
