<script setup lang="ts">
import { ref } from "vue";

const props = defineProps<{
  mobileOnly?: boolean;
  caught?: number;
  donated: number;
  catchable?: number;
  seasonal?: number;
  sort?: string;
  dir?: string;
  filter: (t: string, e: number | string) => void;
  search: () => void;
  useCritterId?: boolean;
}>();

let sortVal = ref(props.sort);
let dirVal = ref(props.dir);

let gridnum = 1; // donated
if (props.caught !== undefined) {
  gridnum += 1;
}
if (props.catchable !== undefined) {
  gridnum += 1;
}
if (props.seasonal !== undefined) {
  gridnum += 1;
}
</script>
<template>
  <div class="filters">
    <MuseumCollapse
      :mobileOnly="mobileOnly"
      headerText="<div class='text-left'><strong>Filters</strong></div>"
    >
      <br />
      <div :class="`grid-of-${gridnum}`">
        <div class="form-group" v-if="caught !== undefined">
          <label for="catch-state">Catch State</label>
          <TriStateToggle
            :inValue="caught"
            labelLeft="Uncaught"
            labelRight="Caught"
            labelNone="Either"
            @toggle="filter('caught', $event)"
          ></TriStateToggle>
        </div>
        <div class="form-group">
          <label for="donation-state">Donation State</label>
          <TriStateToggle
            :inValue="donated"
            labelLeft="Not Donated"
            labelRight="Donated"
            labelNone="Either"
            @toggle="filter('donated', $event)"
          ></TriStateToggle>
        </div>
        <div class="form-group" v-if="catchable !== undefined">
          <label for="catchable">Catchable</label>
          <TriStateToggle
            :inValue="catchable"
            labelLeft="Uncatchable"
            labelRight="Catchable"
            labelNone="Either"
            @toggle="filter('catchable', $event)"
          ></TriStateToggle>
        </div>
        <div class="form-group" v-if="seasonal !== undefined">
          <label for="seasonal">Seasonal</label>
          <TriStateToggle
            :inValue="seasonal"
            labelLeft="Out of Season"
            labelRight="Seasonal"
            labelNone="Either"
            @toggle="filter('seasonal', $event)"
          ></TriStateToggle>
        </div>
        <div class="form-group">
          <label class="input-label" for="sort">Sort</label>
          <select
            class="form-control"
            id="sort"
            v-model="sortVal"
            @change="filter('sort', sortVal as string)"
          >
            <option v-if="useCritterId" value="CRITTER_ID">Object ID</option>
            <option v-else value="ID">ID</option>
            <option value="NAME">Alphabetical</option>
            <option value="SELL_VALUE">Value</option>
          </select>
        </div>
        <div class="form-group">
          <label class="input-label" for="dir">Sort Direction</label>
          <input
            v-model="dirVal"
            type="radio"
            value="ASC"
            :checked="dir === 'ASC'"
            @change="filter('dir', 'ASC')"
          />
          Ascending
          <input
            v-model="dirVal"
            type="radio"
            value="DESC"
            :checked="dir === 'DESC'"
            @change="filter('dir', 'DESC')"
          />
          Descending
        </div>
      </div>
    </MuseumCollapse>
  </div>
</template>
