<script setup lang="ts">
import type { NHArt } from "@/models/NH";
import { computed } from "vue";

const props = defineProps<{ critter: NHArt }>();

const fHints = computed(() => {
  if (props.critter.forgeryHints.trim().length > 0) {
    return props.critter.forgeryHints.split(";");
  }
  return [];
});
</script>
<template>
  <div class="forgery-hints" v-if="fHints.length > 0">
    <h4>Forgery Hints</h4>
    <ol>
      <li v-for="h of fHints" :key="h">{{ h }}</li>
    </ol>
  </div>
</template>
