<script setup lang="ts">
import type { NHFish } from "@/models/NH";

defineProps<{ critter: NHFish }>();
</script>
<template>
  <table class="data text-left">
    <tr class="location">
      <td>Location</td>
      <td>{{ critter.location }}</td>
    </tr>
    <tr class="shadow-size">
      <td>
        Shadow
        <span class="hidden-xs">Size</span>
      </td>
      <td>{{ critter.shadowSize }}</td>
    </tr>
  </table>
</template>
