<script setup lang="ts">
import type { NHInsect } from "@/models/NH";

defineProps<{ critter: NHInsect }>();
</script>
<template>
  <table class="data text-left">
    <tr class="location">
      <td>Location</td>
      <td>{{ critter.location }}</td>
    </tr>
  </table>
</template>
