<script setup lang="ts">
import type { MuseumObjectType } from "@/clients/data-client";
import type { NHCritter, NHFish, NHObject, NHSeaCritter } from "@/models/NH";
import { catchable, speedName } from "@/models/NH";
import { ref } from "vue";
import { StringUtil } from "@/util/StringUtil";
import { useDataStore, useOptionsStore } from "@/store";
import { DateUtil } from "@/util/DateUtil";

const props = defineProps<{
  objectType: MuseumObjectType;
  museumObject: NHObject;
  refresh?: () => void;
}>();

const options = useOptionsStore();
const dataClient = useDataStore();

const hemisphere = options.client.getHemisphere();

const modal = ref(false);

const isCaught = ref(
  dataClient.client.isCaught(props.objectType, props?.museumObject?.id ?? 0)
);
const isDonated = ref(
  dataClient.client.isDonated(props.objectType, props?.museumObject?.id ?? 0)
);

let useMonths: number[];
let monthRanges: string[];
let hourRanges: string[];

let cls = "";
if (catchable(props.museumObject)) {
  const critter = props.museumObject as NHCritter;
  useMonths =
    hemisphere === "south" ? critter.southMonths : critter.northMonths;
  monthRanges = DateUtil.monthRanges(useMonths);
  hourRanges = DateUtil.hourRanges(critter.hours);

  const c = [`location-${StringUtil.toKebabCase(critter.location ?? "")}`];
  if (critter.needsRain) {
    c.push("needs-rain");
  }
  cls = c.join(" ");
}

const formattedSellValue = new Intl.NumberFormat().format(
  props?.museumObject?.sellValue ?? 0
);

function showModal(event: Event) {
  modal.value = true;
  event.preventDefault();
}

function hideModal(event: Event) {
  modal.value = false;
  event.cancelBubble = true;
  event.preventDefault();
}

function toggleCatch(val: boolean) {
  dataClient.client.toggleCatchObject(props.objectType, props.museumObject.id);
  isCaught.value = val;
}

function toggleDonated(val: boolean) {
  dataClient.client.toggleDonateObject(props.objectType, props.museumObject.id);
  isDonated.value = val;
}

function hasAFin(): boolean {
  if ("hasFin" in props.museumObject) {
    return (props.museumObject as NHFish).hasFin;
  }
  return false;
}

function hasSpeed(): boolean {
  return "speed" in props.museumObject;
}

function getSpeed(): number {
  if (hasSpeed()) {
    return (props.museumObject as NHSeaCritter).speed;
  }
  return 0;
}

function getSpeedName(): string {
  return speedName(props.museumObject as NHSeaCritter);
}
</script>
<template>
  <div
    @click="showModal"
    :class="`critter ${objectType} ${cls}`"
    :id="`${objectType}-${museumObject?.id}`"
    :title="`${museumObject?.id}: ${museumObject?.name}`"
  >
    <MuseumModal
      :show="modal"
      @close="hideModal"
      :key="`modal-${museumObject?.id}-${isCaught}-${isDonated}`"
    >
      <MuseumObjectOptions
        :caught-enabled="catchable(museumObject)"
        :caught="isCaught"
        :donated="isDonated"
        @toggle-catch="toggleCatch"
        @toggle-donation="toggleDonated"
      />
    </MuseumModal>
    <div class="critter-grid">
      <div class="critter-grid-content">
        <h2 class="critter-name">{{ museumObject?.name }}</h2>
        <template v-if="catchable(museumObject)">
          <ul class="months">
            <li v-for="(r, i) in monthRanges" :key="i">{{ r }}</li>
          </ul>
          <hr />
          <ul class="hours">
            <li v-for="(r, i) in hourRanges" :key="i">{{ r }}</li>
          </ul>
          <hr />
        </template>
        <slot></slot>
      </div>
      <div class="critter-grid-image">
        <div class="critter-grid-img">
          <div class="image">
            <slot name="museum-icon">
              <svg-insect cls="svg-inline--fa fa-w-18 fa-3x" />
            </slot>
          </div>
        </div>
        <div class="critter-grid-badges">
          <span class="badge badge-green badge-small">
            <svg-bells cls="badge-icon svg-inline--fa fa-w-18" />
            <strong class="badge-value">{{ formattedSellValue }}</strong>
          </span>
          <span class="has-fin badge" v-if="hasAFin()" title="Has a fin!">
            <svg-shark-fin cls="badge-icon" />
          </span>
          <span
            v-if="hasSpeed()"
            class="speed badge badge-small"
            :title="`Speed ${getSpeedName()}`"
          >
            <fa-icon icon="pause" v-if="getSpeed() === 0"></fa-icon>
            <fa-icon icon="play" v-if="getSpeed() > 0"></fa-icon>
            <fa-icon icon="play" v-if="getSpeed() > 1"></fa-icon>
            <fa-icon icon="play" v-if="getSpeed() > 2"></fa-icon>
          </span>
          <span class="caught badge badge-blue" v-if="isCaught" title="Caught!">
            <slot name="caught-icon">
              <svg-net cls="svg-inline--fa fa-w-18" />
            </slot>
          </span>
          <span
            class="donated badge badge-pink"
            v-if="isDonated"
            title="Donated!"
          >
            <svg-owl cls="badge-icon svg-inline--fa fa-w-18" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
