<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    caught: boolean;
    donated: boolean;
    caughtEnabled: boolean;
  }>(),
  {
    caught: false,
    donated: false,
    caughtEnabled: true,
  }
);
const emit = defineEmits(["toggle-catch", "toggle-donation"]);

function updateCatch() {
  emit("toggle-catch", !props.caught);
}

function updateDonation() {
  emit("toggle-donation", !props.donated);
}
</script>
<template>
  <div class="critter-options">
    <br />
    <div class="flex-box">
      <div class="flex-1">
        <div class="form-group" v-if="caughtEnabled">
          <label class="text-center">
            Caught
            <input type="checkbox" :checked="caught" @click="updateCatch" />
          </label>
        </div>
      </div>
      <div class="flex-1">
        <div class="form-group">
          <label class="text-center">
            Donated
            <input type="checkbox" :checked="donated" @click="updateDonation" />
          </label>
        </div>
      </div>
    </div>
  </div>
</template>
