<script setup lang="ts">
import type { NHSeaCritter } from "@/models/NH";

defineProps<{ critter: NHSeaCritter }>();
</script>
<template>
  <table class="data text-left">
    <tr class="shadow-size">
      <td>
        Shadow
        <span class="hidden-xs">Size</span>
      </td>
      <td>{{ critter.shadowSize }}</td>
    </tr>
  </table>
</template>
