
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease-in-out;
}

.expand-enter,
.expand-leave-to {
  opacity: 0;
  transform: scale(0);
}
.expand-enter-active,
.expand-leave-active {
  transition: all 0.2s ease-in-out;
}

.expand-enter-to,.expand-leave{
  opacity: 1;
  transform: scale(1);
}