$brad: 20px;

$card-color: #fff6d6;
$border-color: #ffe797;
$primary-color: #42b983;
$secondary-color: #2c3e50;

$form-group-radius: 6px;
$input-background-color: #fff9e6;
$input-border-color: #dfd9c7;

$badge-size: 20px;

$gridGap: 10px;