.form-group {
  border-radius: $form-group-radius;
  text-align: left;
  margin-bottom: 15px;
  width: 100%;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;

    & > [type='checkbox'] {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: $brad;
      width: 25px;
      height: 25px;
    }
  }

  input,
  select,
  button {
    &.full-width {
      width: 100%;

      &[type='date'],
      &[type='time'] {
        width: 95%;
      }
    }

    border: 2px solid $input-border-color;
    background-color: $input-background-color;
    border-radius: $form-group-radius;
    padding: 5px 7px;
    margin-left: 3px;
    cursor: pointer;

    &:hover {
      border-color: lighten($input-border-color, 4%);
      background-color: lighten($input-background-color, 4%);
    }

  }

  button {
    min-height: 34px;
    min-width: 34px;
  }

  .hint {
    margin-left: 5px;
    font-size: 12px;
    margin-top: 5px;
  }
}

a {
  font-weight: bold;
  color: lighten($primary-color, 10%);
  text-decoration: none;

  &:hover {
    color: lighten($primary-color, 20%);
  }
}

.badge {
  display: flex;
  font-size: 1.5em;
  overflow: hidden;
  border-radius: $brad;
  border-width: 3px;
  border-style: solid;
  background-color: #aaaaaa;
  color: darken(#aaaaaa, 40%);
  border-color: darken(#aaaaaa, 10%);
  height: 30px;
  min-width: 30px;
  padding: 2px;
  text-align: left;

  &.badge-small {
    font-size: 1em;
    line-height: 2em;
  }

  &.badge-blue {
    background-color: skyblue;
    color: darken(skyblue, 40%);
    border-color: darken(skyblue, 10%);
  }

  &.badge-pink {
    background-color: lightpink;
    color: darken(lightpink, 40%);
    border-color: darken(lightpink, 10%);
  }

  &.badge-green {
    background-color: greenyellow;
    color: darken(greenyellow, 40%);
    border-color: darken(greenyellow, 10%);
  }

  .badge-icon {
    width: 30px;
    height: 30px;
  }

  .badge-value {
    flex: 1;
    align-self: center;
    justify-self: center;
    place-self: center;
  }

  &.speed {
    text-align: center;

    * {
      flex: 1;
      align-self: center;
    }
  }
}

.flex-box {
  display: flex;

  @for $i from 1 through 10 {
    .flex-#{$i} {
      flex: $i;
      margin-left: 5px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.fa-spinner {
  color: rgb(0, 161, 224);
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.loader-overlay {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 60;
  background: #aaaaaaaa;
  border-radius: $brad;

  & > * {
    margin-top: 15px;
  }
}

.critter-container {
  margin-top: 10px;
}

.critter {
  border: 6px solid $border-color;
  background-color: $border-color;
  border-radius: $brad;
  color: $secondary-color;
  position: relative;
  height: calc(100% - 12px);

  .image {
    border: 6px solid $border-color;
    background-color: darken($card-color, 5%);
    border-radius: $brad;
    height: calc(100% - 11px);
  }

  &.needs-rain {
    .image {
      background-image: url("../assets/rain.png");
    }
  }

  .critter-name {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 48px;
    font-size: 20px;
  }

  &.transparent {
    border: 6px solid transparent;
    background-color: transparent;
  }

  ol {
    padding-left: 25px;
  }

  ul {
    list-style: none;

    padding: 0;
    margin: 0;
  }

  table.data {
    width: 100%;

    td:first-of-type {
      font-weight: bold;
    }

    td:last-of-type {
      text-align: right;
    }
  }

  hr {
    width: 100%;
    height: 3px;
    margin: 5px 0;
    padding: 0;
    background-color: $border-color;
    border: none;
  }

  .critter-grid {
    display: grid;
    grid-template-columns: 35% calc(65% - 10px);
    grid-column-gap: 10px;
    height: 100%;

    .critter-grid-content {
      border-radius: $brad;
      background-color: darken($card-color, 5%);
    }

    .critter-grid-image {
      display: grid;
      background-color: darken($card-color, 5%);
      border-radius: $brad;
      grid-template-rows: 60% calc(40% - 10px);
      grid-row-gap: 10px;
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .critter-grid-badges {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 35% repeat(3, 40px);
  }

}


.grid {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: $gridGap;
  grid-row-gap: $gridGap;
  grid-template-columns: repeat(3, auto);
}

@for $i from 1 through 10 {
  .grid-of-#{$i} {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: $gridGap;
    grid-row-gap: $gridGap;
    grid-template-columns: repeat($i, auto);
  }
}

@media (max-width: 900px) {


  .hidden-xs {
    display: none !important;
  }

  .critter-container .critter {
    border-width: 3px;
    height: calc(100% - 6px);

    .image {
      border-width: 3px;
      height: calc(100% - 5px);
    }

    h2 {
      font-size: 18px;
      height: 36px;
    }

    .critter-grid-badges {
      display: block;
      text-align: left;
    }
  }

  .grid {
    grid-template-columns: auto;
  }

  @for $i from 1 through 10 {
    .grid-of-#{$i} {
      grid-template-columns: auto;
    }
  }


  .badge {
    border-width: 0;
    min-width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 5px;

    &:first-of-type {
      margin-left: 0;
    }

    .badge-icon {
      display: inline;
      height: 26px;
      width: 26px;
    }
  }


}