<template>
  <div class="about">
    <h1>Museum Buddy</h1>
    <p>
      This app is used to help you keep track of your island museum progress.
    </p>
    <p>
      The naming of this app was intentional to avoid any kind of possible
      copyright issues.
    </p>
    <h2>Tech</h2>
    <p>
      This app is written in
      <a href="https://vuejs.org/" target="_blank">Vue.js</a>, using an API
      written in
      <a href="https://golang.org/" target="_blank">Go</a>
      all packaged into
      <a href="https://docker.com/" target="_blank">docker</a> containers and
      deployed on a
      <a href="https://kubernetes.io/" target="_blank">kubernetes</a> cluster.
    </p>
    <h3>Settings</h3>
    <p>
      You can change this app's settings below. All settings (and progress!) are
      saved to the browser's
      <strong>local storage</strong>.
    </p>
    <p>
      <strong>Note</strong> that this means your progress will NOT carry across
      devices, it is <em>HIGHLY</em> recommended that you use this application
      from your phone (for portability).
    </p>
    <MuseumConfig />
  </div>
</template>
