<template>
  <div class="home">
    <p>
      Use this application to help you keep track of what needs to get done on
      your island!
    </p>
    <p>
      Use the hamburger menu (
      <fa-icon icon="bars"></fa-icon>
      ) to go to the museum section you wish to track.
    </p>
    <p>
      All data is stored on the device you are using, so be sure to use the same
      device every time!
    </p>
  </div>
</template>
