<template>
  <div class="not-found">
    <h1>ERROR</h1>
    <p>You seem to be lost. There is no rescue app for you here.</p>
    <p>
      Click the
      <fa-icon icon="fish"></fa-icon>
      icon to track fish.
    </p>
    <p>
      Click the
      <svg-insect />
      icon to track insects.
    </p>
    <p>
      Click the
      <fa-icon icon="meteor" />
      icon to track fossils.
    </p>
    <p>
      Click the
      <fa-icon icon="palette" />
      icon to track art.
    </p>
    <p>
      Click the
      <svg-helmet />
      icon to track deep-sea creatures.
    </p>
  </div>
</template>
