<script setup lang="ts">
import { ref, watch } from "vue";
import { useRoute } from "vue-router";
import { OptionClient } from "./clients/option-client";

const optionClient = new OptionClient();
const navOpen = ref(false);
const route = useRoute();
watch(route, () => (navOpen.value = false));

optionClient.saveTimezoneOffset();
// Load config
</script>
<template>
  <div id="app">
    <div class="hamburger nav">
      <div
        class="hamburger-nav-button"
        @click="navOpen = !navOpen"
        :class="navOpen ? 'open' : 'closed'"
      >
        <fa-icon icon="bars" size="2x"></fa-icon>
      </div>
      <h1 class="hamburger-nav-title">Museum Buddy</h1>
    </div>
    <div class="inner-app">
      <div class="hamburger-target" :class="navOpen ? 'open' : 'closed'">
        <router-link to="/" title="Home">
          <svg-island cls="svg-inline--fa fa-w-18 fa-2x" />
        </router-link>
        <router-link to="/fish" title="Fish">
          <fa-icon icon="fish" size="2x"></fa-icon>
        </router-link>
        <router-link to="/bugs" title="Bugs">
          <svg-insect cls="svg-inline--fa fa-w-18 fa-2x" />
        </router-link>
        <router-link to="/sea" title="Sea">
          <svg-helmet cls="svg-inline--fa fa-w-18 fa-2x" />
        </router-link>
        <router-link to="/fossils" title="Fossils">
          <fa-icon icon="meteor" size="2x" />
        </router-link>
        <router-link to="/art" title="Art">
          <fa-icon icon="palette" size="2x" />
        </router-link>
        <router-link to="/about" title="About">
          <fa-icon icon="question" size="2x"></fa-icon>
        </router-link>
      </div>
      <div class="scrolling-app">
        <router-view />
      </div>
    </div>
    <MuseumFooter />
  </div>
</template>
<style lang="scss">
@import "@/styles/_transitions.scss";
@import "@/styles/theme.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  background-image: url("assets/grass-pattern.png");
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;

  .inner-app {
    flex: 1;
    overflow-y: auto;
    height: 100%;
  }

  .scrolling-app {
    margin: 5px 2%;
    background: rgba(99, 54, 0, 0.75);
    padding: 10px 2%;
    border-width: 5px;
    border-color: rgb(78, 42, 0);
    border-style: solid;
    border-radius: $brad;
  }
}

$nav-height: 30px;
$nav-padding: 8px;
$nav-border-size: 5px;
.nav {
  min-height: $nav-height;
  background: $secondary-color;
  padding: $nav-padding;
  display: flex;
  border-bottom: $nav-border-size solid darken($secondary-color, 10%);

  &.hamburger {
    display: block;
    text-align: center;

    .hamburger-nav-button {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      height: $nav-height;
      width: $nav-height;
      padding: $nav-padding;
      border-radius: 6px;

      &:hover {
        background: #00000050;
      }

      &.open {
        background: #ffffff50;
      }
    }

    .hamburger-nav-title {
      margin: 0;
      padding: 0;
      font-size: 1.6em;
    }
  }
}

.hamburger-target {
  position: absolute;
  width: 250px;
  height: calc(100% - #{$nav-height + $nav-border-size + ($nav-padding * 2)});
  background: lighten($secondary-color, 25%);
  left: -250px;
  transition: left ease-in-out 0.25s;
  display: flex;
  flex-direction: column;
  border-right: $nav-border-size solid $secondary-color;
  z-index: 9999;

  &.open {
    left: 0;
  }

  a {
    height: 36px + #{$nav-padding * 2};
    width: calc(100% - #{$nav-padding * 2});
    font-weight: bold;
    font-size: 18px;
    color: $secondary-color;
    text-decoration: none;
    text-align: left;
    padding: $nav-padding;
    border-bottom: 2px solid $secondary-color;

    &.router-link-exact-active {
      color: lighten($secondary-color, 50%);
    }

    &:first-of-type {
      border-left: 0;
    }

    &:after {
      content: attr(title);
      font-size: 1.2em;
      padding-left: $nav-padding;
    }
  }
}

@media (max-width: 900px) {
  #app {
    .inner-app {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .scrolling-app {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}
</style>
