<script setup lang="ts">
import { computed, defineProps, withDefaults } from "vue";

const props = withDefaults(
  defineProps<{
    boolValue: boolean;
    trueIcon?: string;
    falseIcon?: string;
    trueColor?: string;
    falseColor?: string;
    display?: string;
  }>(),
  {
    boolValue: false,
    trueIcon: "check",
    falseIcon: "times",
    trueColor: "#00ff00",
    falseColor: "#ff0000",
    display: "inline-block",
  }
);

const style = computed(
  () =>
    `display:${props.display};color:${
      props.boolValue ? props.trueColor : props.falseColor
    }`
);
</script>
<template>
  <div class="boolean-indicator" :style="style">
    <fa-icon v-if="boolValue" :icon="trueIcon" />
    <fa-icon v-if="!boolValue" :icon="falseIcon" />
  </div>
</template>
