<script setup lang="ts">
const year = new Date().getFullYear();
</script>
<template>
  <div class="footer">&copy; {{ year }} dmckernan.com</div>
</template>
<style lang="scss">
.footer {
  padding-top: 5px;
  height: 45px;
  border-top: 5px solid darken($secondary-color, 10%);
  background-color: $secondary-color;
}
</style>
