<script setup lang="ts">
import { useApiStore, useDataStore, useOptionsStore } from "@/store";
import { DateUtil } from "@/util/DateUtil";
import { ref } from "vue";
import type { PortableData } from "@/models/PortableData";
import type { CritterData } from "@/models/CritterData";
import { MuseumObjectType } from "@/clients/data-client";

const api = useApiStore();
const options = useOptionsStore();
const data = useDataStore();

const date = ref("");
const time = ref("");

const importFile = ref<HTMLInputElement | null>(null);

async function loadUI() {
  const o = options.client.getDataOffset();
  if (o) {
    try {
      const t = await api.client.getTime(o);
      const st = DateUtil.formatDate(t);
      if (st != null) {
        const sp = st.split(" ");
        date.value = sp[0];
        const spt = sp[1].split(":");
        time.value = spt[0] + ":" + spt[1];
      } else {
        date.value = "";
        time.value = "";
      }
    } catch (e) {
      console.log(e);
    }
  }
}

async function saveSystemTime() {
  const d = DateUtil.parseDate(`${date.value} ${time.value}:00`);
  const o = await api.client.getOffset(d);
  options.client.setSystemOffset(o);
  await loadUI();
}

function clear() {
  options.client.clearSystemOffset();
  loadUI();
}

function enumKeys<O extends object, K extends keyof O = keyof O>(obj: O): K[] {
  return Object.keys(obj).filter((k) => Number.isNaN(+k)) as K[];
}

function exportData() {
  const d: PortableData = {
    hemisphere: options.client.getHemisphere(),
    systemOffset: options.client.getSystemOffset(),
    critters: [],
  };
  for (const t of enumKeys(MuseumObjectType)) {
    const ct = MuseumObjectType[t];
    const cd: CritterData = {
      name: ct,
      caught: data.client.getCaughtObjects(ct),
      donated: data.client.getDonatedObjects(ct),
      state: data.client.loadFilterState(ct),
    };
    d.critters.push(cd);
  }

  const blob = new Blob([JSON.stringify(d)], { type: "text/plain" });
  const a = document.createElement("a");
  const e = new MouseEvent("click", { bubbles: true, cancelable: false });
  const now = new Date();
  a.download = `museum-buddy-data-${now.getFullYear()}-${(now.getMonth() + 1)
    .toString(10)
    .padStart(2, "0")}-${now.getDate().toString(10).padStart(2, "0")}.json`;
  a.href = window.URL.createObjectURL(blob);
  a.dataset.downloadurl = ["text/json", a.download, a.href].join(":");
  a.dispatchEvent(e);
}

function importData() {
  if (importFile.value && importFile.value.files) {
    const file = importFile.value.files[0];
    if (
      !file ||
      ["text/plain", "text/json", "application/json"].indexOf(file.type) === -1
    ) {
      return;
    }
    const reader = new FileReader();
    reader.readAsText(file, "UTF-8");
    reader.onload = (evt) => {
      const pd = JSON.parse(evt?.target?.result as string) as PortableData;
      options.client.setHemisphere(pd.hemisphere);
      options.client.setSystemOffset(pd.systemOffset);
      pd.critters.forEach((cd) => {
        data.client.setCaughtObjects(cd.name, cd.caught);
        data.client.setDonatedObjects(cd.name, cd.donated);
        data.client.saveFilterState(
          cd.name,
          cd.state.caught || 0,
          cd.state.donated || 0,
          cd.state.catchable || 0,
          cd.state.seasonal || 0
        );
      });
    };
    reader.onerror = (evt) => {
      if (console) {
        console.error(evt);
      }
    };
  }
  return;
}

loadUI();
</script>
<template>
  <div class="config">
    <div class="flex-box">
      <div class="flex-1">
        <div class="form-group">
          <label>System Time</label>
          <input
            type="date"
            name="system-date"
            @change="(event) => (date = (event.target as HTMLInputElement).value)"
            :value="date"
          />
          <input
            type="time"
            name="system-time"
            @change="(event) => (time = (event.target as HTMLInputElement).value)"
            :value="time"
          />
          <button @click="saveSystemTime">
            <fa-icon icon="save"></fa-icon>
          </button>
          <button @click="clear">
            <fa-icon icon="times"></fa-icon>
          </button>
          <p class="hint">
            Set your console system time to get accurate catchables, this will
            be saved as an offset so that you do not need to keep updating this
            time (unless you change your system time of course)
          </p>
        </div>
      </div>
      <div class="flex-1">
        <div class="form-group">
          <label for="hemisphere">Hemisphere</label>
          <select
            name="hemisphere"
            @change="
              (event) => options.client.setHemisphere((event.target as HTMLSelectElement).value)
            "
          >
            <option
              :selected="options.client.getHemisphere() == 'north'"
              value="north"
            >
              North
            </option>
            <option
              :selected="options.client.getHemisphere() == 'south'"
              value="south"
            >
              South
            </option>
          </select>
          <p class="hint">Set your island's hemisphere</p>
        </div>
      </div>
    </div>
    <div class="flex-box">
      <div class="flex-1">
        <h2>Import Settings</h2>
        <div class="form-group">
          <input type="file" ref="importFile" />
        </div>
        <div class="form-group">
          <button @click="importData">
            <fa-icon icon="upload"></fa-icon>
          </button>
        </div>
      </div>
      <div class="flex-1"></div>
      <div class="flex-1">
        <h2>Export Settings</h2>
        <div class="form-group">
          <button @click="exportData">
            <fa-icon icon="download"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
