<script setup lang="ts">
withDefaults(defineProps<{ show: boolean }>(), { show: false });
const emit = defineEmits(["open", "close"]);

function close(event: Event) {
  emit("close", event);
}
</script>
<template>
  <div class="modal">
    <transition name="fade">
      <div class="modal-shade" @click="close" v-show="show">
        <div class="modal-closer">
          <fa-icon icon="times" size="2x"></fa-icon>
        </div>
      </div>
    </transition>
    <transition name="expand">
      <div class="modal-outer" v-show="show">
        <div class="modal-inner">
          <slot></slot>
        </div>
      </div>
    </transition>
  </div>
</template>
<style lang="scss">
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: $brad;

  .modal-closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: $brad;
    border: 5px solid $secondary-color;
    background: $primary-color;
    color: $secondary-color;
  }

  .modal-shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.267);
    z-index: 2;
    border-radius: $brad;
  }

  .modal-outer {
    position: absolute;
    z-index: 3;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    border-radius: $brad;
    background: #eeeeee;

    .modal-inner {
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      background: white;
      border-radius: $brad;
      margin: 5px;
    }
  }
}
</style>
