<script setup lang="ts">
import { computed } from "vue";

const props = withDefaults(
  defineProps<{
    showPages?: number;
    total?: number;
    offset?: number;
    sizeStep?: number;
    limit?: number;
  }>(),
  {
    showPages: 4,
    total: 0,
    offset: 0,
    sizeStep: 15,
    limit: 15,
  }
);

const emit = defineEmits(["page"]);

const realPages = computed(() => Math.ceil(props.total / props.limit));
const currentPage = computed(() => Math.floor(props.offset / props.limit));
const isPage = (n: number) =>
  realPages.value > 0 &&
  n >= 0 &&
  n < realPages.value &&
  n !== currentPage.value;
const pageClass = (n: number) => (isPage(n) ? "" : "disabled");

function pageTo(n: number) {
  if (isPage(n)) {
    const offset = n * props.limit;
    emit("page", { offset, limit: props.limit });
  }
}
</script>
<template>
  <div class="paginator">
    <div :class="`page first ${pageClass(0)}`" @click="() => pageTo(0)">
      <fa-icon icon="chevron-left"></fa-icon>
      <fa-icon icon="chevron-left"></fa-icon>
    </div>
    <div
      :class="`page previous ${pageClass(currentPage - 1)}`"
      @click="() => pageTo(currentPage - 1)"
    >
      <fa-icon icon="chevron-left"></fa-icon>
    </div>
    <!-- Labels are offset by one -->
    <div
      class="page hidden-xs"
      v-if="isPage(currentPage - 2)"
      @click="() => pageTo(currentPage - 2)"
    >
      {{ currentPage - 1 }}
    </div>
    <div
      class="page hidden-xs"
      v-if="isPage(currentPage - 1)"
      @click="() => pageTo(currentPage - 1)"
    >
      {{ currentPage }}
    </div>
    <div class="page current">{{ currentPage + 1 }}</div>
    <div
      class="page hidden-xs"
      v-if="isPage(currentPage + 1)"
      @click="() => pageTo(currentPage + 1)"
    >
      {{ currentPage + 2 }}
    </div>
    <div
      class="page hidden-xs"
      v-if="isPage(currentPage + 2)"
      @click="() => pageTo(currentPage + 2)"
    >
      {{ currentPage + 3 }}
    </div>

    <div
      :class="`page next ${pageClass(currentPage + 1)}`"
      @click="() => pageTo(currentPage + 1)"
    >
      <fa-icon icon="chevron-right"></fa-icon>
    </div>
    <div
      :class="`page last ${pageClass(realPages - 1)}`"
      @click="() => pageTo(realPages - 1)"
    >
      <fa-icon icon="chevron-right"></fa-icon>
      <fa-icon icon="chevron-right"></fa-icon>
    </div>
  </div>
</template>
<style lang="scss">
.paginator {
  display: flex;
  width: 100%;
  background-color: $card-color;
  border: 6px solid $border-color;
  margin-top: 10px;
  font-size: 20px;
  border-radius: $brad;
  color: $secondary-color;

  .page {
    flex: 1;
    display: block;
    cursor: pointer;
    border-left: 5px solid $border-color;
    border-top-left-radius: $brad;
    border-bottom-left-radius: $brad;
    z-index: 2;

    &.current {
      cursor: unset;
      border-radius: $brad;
      background-color: lighten($card-color, 3%);
      border-left: 5px solid $border-color;
      border-right: 5px solid $border-color;
      z-index: 3;
      border-color: darken($border-color, 5%);

      & ~ .page {
        border-top-right-radius: $brad;
        border-bottom-right-radius: $brad;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        border-left: unset;
        border-right: 5px solid $border-color;

        &.disabled {
          border-right-color: #333333;

          &:after {
            content: " ";
            background-color: #afafaf;
            float: left;
            width: 10px;
            height: 100%;
            left: -10px;
            position: relative;
          }
        }
      }
    }

    &.disabled {
      cursor: unset;
      background-color: #afafaf;
      color: #333333;
      z-index: 1;
      position: relative;
      border-left-color: #333333;

      &:after {
        content: " ";
        background-color: #afafaf;
        float: right;
        width: 10px;
        height: 100%;
        right: -10px;
        position: relative;
      }
    }
  }
}
</style>
