<script setup lang="ts">
import { computed, ref } from "vue";

const props = withDefaults(
  defineProps<{
    mobileOnly?: boolean;
    defaultOpen?: boolean;
    headerText?: string;
  }>(),
  { mobileOnly: false, defaultOpen: false, headerText: "" }
);
const emit = defineEmits(["close", "open"]);

const open = ref(props.defaultOpen);

const extraClasses = computed(() => {
  const c = [];
  if (props.mobileOnly) {
    c.push("mobile-only");
  }
  c.push(open.value ? "open" : "closed");
  return c.join(" ");
});

function toggle() {
  if (open.value) {
    open.value = false;
    emit("close");
  } else {
    open.value = true;
    emit("open");
  }
}
</script>
<template>
  <div :class="`collapse ${extraClasses}`">
    <div class="collapse-toggle" @click="() => toggle()">
      <div class="toggle-header" v-html="headerText"></div>
      <span class="toggle-icon">
        <span class="h"></span>
        <span class="v"></span>
      </span>
    </div>
    <div class="collapse-content">
      <slot></slot>
    </div>
  </div>
</template>
<style lang="scss">
@mixin collapse {
  border-radius: $brad;
  border: 1px solid $secondary-color;
  background: lighten($primary-color, 25%);
  color: $secondary-color;

  .collapse-toggle {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;

    .toggle-header {
      text-align: left;
      min-height: calc($brad * 2);
      display: block;
      font-size: $brad;
      line-height: calc($brad * 2);
      flex: 1;
    }

    .toggle-icon {
      width: $brad * 2;
      position: relative;
      right: 0;

      .h,
      .v {
        position: absolute;
        display: inline-block;
        background-color: $secondary-color;
        width: calc($brad * 1.5);
        height: calc($brad / 4);
        transition: transform 0.25s ease-out;
        top: calc($brad * 0.85);
      }

      .v {
        transform: rotate(-270deg);
      }
    }
  }
  .collapse-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  &.open {
    .collapse-content {
      padding: 5px;
      max-height: 1000px;
    }

    .collapse-toggle {
      .v {
        transform: rotate(0);
      }
    }
  }
}

.collapse:not(.mobile-only) {
  @include collapse;
}

@media (max-width: 900px) {
  .collapse {
    @include collapse;
  }
}
</style>
