<script lang="ts" setup>
import { computed, ref } from "vue";

const emit = defineEmits(["toggle"]);

const props = withDefaults(
  defineProps<{
    inValue: number;
    labelLeft: string;
    labelRight: string;
    labelNone: string;
  }>(),
  {
    inValue: 1,
    labelLeft: "left",
    labelRight: "right",
    labelNone: "none",
  }
);

const triValue = ref(props.inValue);

const state = computed(() => {
  switch (triValue.value) {
    case 2:
      return "right";
    case 0:
      return "left";
    case 1:
    default:
      return "";
  }
});

function toggle() {
  triValue.value += 1;
  if (triValue.value == 3) {
    triValue.value = 0;
  }
  emit("toggle", triValue.value);
}
</script>
<template>
  <div :class="`tri-state-toggle ${state}`" @click="toggle">
    <span class="label left-label">{{ labelLeft }}</span>
    <span class="label none-label">{{ labelNone }}</span>
    <div class="toggle-container">
      <div :class="`state ${state}`"></div>
    </div>
    <span class="label right-label">{{ labelRight }}</span>
  </div>
</template>
<style lang="scss">
label + .tri-state-toggle {
  margin-top: 2em;
}

.tri-state-toggle {
  display: flex;
  position: relative;

  .label {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 75px;
    max-width: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .none-label {
    position: absolute;
    display: block;
    content: " " attr(data-none-label);
    top: -2em;
    height: auto;
    width: auto;
    left: 41%;
    font-weight: bold;
  }

  &.left,
  &.right {
    .none-label {
      font-weight: normal;
    }
  }

  &.left {
    .left-label {
      font-weight: bold;
    }
  }

  &.right {
    .right-label {
      font-weight: bold;
    }
  }
}

.toggle-container {
  flex: 1;
  border: 5px solid grey;
  background-color: lightgrey;
  position: relative;
  height: 32px;
  width: 96px;
  border-radius: $brad;
  overflow: hidden;

  .state {
    background-color: grey;
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    top: 0;

    border-radius: $brad;
    transition: left 0.25s ease-out;

    &.left {
      left: 0;
    }

    &.right {
      left: calc(100% - 32px);
    }
  }
}

@media (max-width: 900px) {
  .tri-state-toggle {
    .none-label {
      left: 35%;
    }
  }
}
</style>
